 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Starting Gravity is a freelance Drupal web development company based in Oak Ridge, Tennessee.</p>
                </div>
                <div class="col-lg-4">
                    <p>Jim Smith provides custom Drupal website development for businesses, non-profits and government agencies.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/about/jim-smith" class="btn btn-lg btn-outline">
                        View Jim's Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>