    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="visually-hidden">{{ site.title }}</h1>
                    <img class="img-responsive rocket-logo" src="img/startinggravity_logo.svg" alt="Starting Gravity">
                    <div class="intro-text">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>