<div class="post resume" id="about-resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>{{ page.title }}</h1>
                <hr class="star-primary">
                {{ content }}
            </div>
        </div>
    </div>
</div>
