<div class="post project" id="portfolio-{{ post.post-id }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>{{ page.title }}</h1>
                <hr class="star-primary">
                <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="Screen capture of {{ page.title }} website">
                {% if page.description %}
                <p>{{ page.description }}</p>
                {% endif %}
                <ul class="item-details">
                    {% if page.client %}
                    <li>Client: <span>{{ page.client }}</span>
                    </li>
                    {% endif %}
                    {% if page.site_url %}
                    <li>Site: <span><a href="{{ page.site_url }}">{{ page.title }}</a></span></li>
                    {% endif %}
                    {% if page.project-date %}
                    <li>Date: <span>{{ page.project-date }}</span>
                    </li>
                    {% endif %}
                    {% if page.services %}
                    <li>Services: <span>{{ page.services }}</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
