<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.posts %}
            {% if post.post-id %}
            <div class="col-sm-4 portfolio-item">
                <a href="{{ post.url }}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            {{ post.title }}
                        </div>
                    </div>
                    <img src="img/portfolio/{{ post.img_thumb }}" class="img-responsive img-thumb" alt="Screen capture of {{ post.title }} website">
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>