<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include inside-resume.html %}
    {% include contact_static.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>